/* -------------------------------------------------- */
/* SpaceLeft Styles */
/* --------------------------------------------------- */

.mainContent section.section1 {
	margin-top: 40px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 0px;
}

.mainContent .section1 .section1Content ul,
.mainContent .section1 .section1Content ol {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: var(--chosen-color-Comp1-lighter);
	border-top: 1px solid var(--chosen-color);
	border-bottom: 1px solid var(--chosen-color);
}

.section1 h1.sectionTitle {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
}

.mainContent .section1 .section1Content h1{
	background-color: var(--chosen-color-Comp1-lighter);
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 400;
	padding-left: 12px;
	margin-top: 25px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 22px;
	border-color: var(--chosen-color);
	border-left: 0px;
	border-top: 2px ;
	border-bottom: 2px ;
	border-right: 0px ;
}	

.section1 .section1Content h2 {
	padding-top: 6px;
}

.section1 .sectionTitle a {
	color: var(--chosen-color);
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.section1 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
	height: 2px;
}

.section1 .sectionTitleRule2 {
	/* background-color: rgba(208,207,207,1.00); */
	height: 2px;
	padding: 0px;
	margin: 0 1% 0 0;
}

.mainContent .section1 .section1Content {
	color: rgba(146, 146, 146, 1.00);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}




.mainContent .section1 .section1Content button {
	font-size: 14px;
	line-height: 1.3;
	font-weight: 100;
	letter-spacing: 2px;
	color: white;
	background-color: #b3b3b3;
	padding: 15px 32px;
	border: none;
}

.mainContent .section1 .section1Content input.asButton {
	font-size: 14px;
	line-height: 1.3;
	font-weight: 100;
	letter-spacing: 2px;
	color: white;
	background-color: #b3b3b3;
	padding: 15px 32px;
	border: none;
}

.mainContent .section1 .section1Content span {
	color: rgba(146, 146, 146, 1.00);

}

.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {

	/* Main content sections */
	.mainContent .section1 {
		text-align: center;
		margin-bottom: 10%;
	}

	.section1 .section1Title {
		text-align: center;
	}

	.section1 .sectionTitleRule {
		width: 100%;
	}

	.section1 .sectionTitleRule2 {
		display: none;
	}

	.mainContent .section1 .section1Content {
		display: inline-block;
		text-align: left;
		font-family:   'Open Sans', sans-serif;
		text-align: justify;
	}
}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {

	/* Main content and sections */
	.section1 .section1Title {
		text-align: center;
	}

	.section1 .sectionTitleRule {
		width: 100%;
	}

	.section1 .sectionTitleRule2 {
		display: none;
	}

	.mainContent .section1 .section1Content {
		display: block;
		margin: 0% 0% 0% 20%;
		font-family:  'Poppins', sans-serif;
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {

	/* Main content sections */
	.section1 .sectionTitleRule {
		width: 22.5%;
	}

	.mainContent .section1 .section1Content {
		display: block;
		margin-top: 0%;
		margin-right: 0%;
		margin-left: 26%;
		margin-bottom: 0%;
		font-family:  'Poppins', sans-serif;
	}
}

/* End of Media Queries */